.footer {
    background-color: #000505;
    padding: 40px 0 ;
}

.footer-body {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

.footer-nav-link {
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #fefcfd;
    margin-bottom: 8px;
    transition: .2s linear;
}

.socials {
    cursor: pointer;
    display: flex;
}

.socials-svg {
    margin-left: 20px;
}

.socials-svg path {
    transition: .2s linear;
}

@media screen and (min-width: 993px) {

    .footer-nav-link:hover {
        color: #9381FF;
    }

    .socials-svg:hover path {
        fill: #9381FF;
    }

}

@media screen and (max-width: 1280px) {

    .footer {
        padding: 40px;
    }

    .footer-body {
        width: 100%;
    }

}

@media screen and (max-width: 768px) {

    .footer {
        padding-bottom: 80px;
    }

    .footer-body {
        flex-wrap: wrap;
    }

    .footer-nav {
        width: 100%;
        margin-bottom: 40px;
    }

    .footer-nav-link {
        text-align: center;
        margin-bottom: 40px;
    }

    .socials {
        width: 100%;
        justify-content: space-evenly;
    }

    .socials-svg {
        margin: 0;
    }

}