/*
Colors:
    black: #000505,
    violet: #9381FF,
    grey: #9A998C,
    white: #fefcfd
*/

body {
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main {
    padding: 40px;
}

.main-title {
    color: #000505;
    text-align: center;
    margin-bottom: 40px;
}
