.article-block {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
}

.article-block-left {
    width: 40%;
}

.article-block-left-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.article-author {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.article-author-img {
    width: 40px;
    border: 2px solid #9381FF;
    border-radius: 50%;
}

.article-author-nick {
    color: #000505;
    font-size: 18px;
    font-weight: 600;
    margin-left: 8px;
    transition: .2s linear;
}

.article-created-at {
    font-size: 14px;
    color: #000505;
}

.article-img {
    display: block;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 0 8px #9381FF;
}

.like-block {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 20px;
}

.likes {
    margin-right: 8px;
}

.like-svg-active,
.like-svg-disactive {
    cursor: pointer;
}

.like-svg-active  path,
.like-svg-disactive  path {
    transition: .2s all;
}

.article-category-block {
    margin-top: 20px;
}

.article-category-span {
    font-size: 14px;
    color: #000505;
    margin-right: 4px;
}

.article-category {
    cursor: pointer;
    color: #9381FF;
    font-style: italic;
    text-decoration: underline;
    border: 1px solid #fff;
    padding: 4px;
    border-radius: 4px;
    transition: .2s linear;
}

.author-managment {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.link-to-update,
.link-to-delete {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 12px;
    padding: 4px 12px;
    margin: 0 auto 20px;
    transition: .2s linear;
}

.link-to-update {
    color: #000505;
    border: 2px solid #000505;
    background-color: #fefcfd;
}

.link-to-delete {
    color: #fc2a2a;
    border: 2px solid #fc2a2a;
    background-color: #fefcfd;
}

.article-block-right {
    width: 60%;
}

.article-title {
    text-align: center;
    color: #000505;
    margin-bottom: 12px;
}

.article-content {
    color: #000505;
    padding: 0 0 0 40px;
}

.add-comment-form {
    width: 500px;
    margin: 40px auto 0;
}

.login-link-block {
    padding-top: 40px;
    text-align: center;
}

.link-to-login {
    color: #9381FF;
    transition: .2s linear;
}

.comments-block {
    width: 800px;
    margin: 40px auto 0;
}

.confirm-delete-block {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #9381FF;
    box-shadow: 0 0 8px #9381FF;
    border-radius: 20px;
    background-color: #9381FF;
    padding: 20px;
    z-index: 100;
    transition: .2s linear;
}

.confirm-delete-text {
    text-align: center;
    color: #fefcfd;
}

.confirm-delete-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.confirm-delete,
.disconfirm-delete {
    cursor: pointer;
    outline: none;
    font-size: 18px;
    padding: 4px 12px;
    border: none;
    border-radius: 12px;
    transition: .2s linear;
}

.disconfirm-delete {
    color: #9381FF;
    background-color: #fff;
    box-shadow: 2px 2px 2px #000505;
}

.confirm-delete {
    color: #fc2a2a;
    background-color: #fff;
    box-shadow: 2px 2px 2px #fc2a2a;
}

@media screen and (min-width: 993px) {

    .article-author:hover .article-author-nick {
        color: #9381FF;
    }

    .article-category:hover {
        text-decoration: none;
        border: 1px solid #9381FF;
    }

    .like-svg-active:hover path{
        fill: #fff;
    }

    .like-svg-disactive:hover path{
        stroke: #9381FF;
    }

    .link-to-update:hover {
        color: #fefcfd;
        background-color: #000505;
    }

    .link-to-delete:hover {
        color: #fefcfd;
        background-color: #fc2a2a;
    }

    .disconfirm-delete:hover {
        color: #fefcfd;
        background-color: #000505;
        box-shadow: 0 0 2px #000505;
    }
    .confirm-delete:hover {
        color: #fefcfd;
        background-color: #fc2a2a;
        box-shadow: 0 0 2px #fc2a2a;
    }

    .link-to-login:hover {
        color: #000505;
    }

}

@media screen and (max-width: 1024px) {

    .comments-block {
        width: 100%;
    }

}

@media screen and (max-width: 768px) {

    .article-block {
        flex-wrap: wrap;
    }

    .article-block-left,
    .article-block-right {
        width: 100%;
    }

    .article-block-left {
        margin-bottom: 20px;
    }

    .article-content {
        padding: 0;
        text-align: center;
    }

    .add-comment-form {
        width: 100%;
    }

    .confirm-delete-block {
        width: 80%;
    }

}