.no-account {
    margin-top: 40px;
    color: #000505;
    font-size: 14px;
    text-align: center;
}

.reg-link {
    text-decoration: none;
    font-size: 16px;
    color: #9381FF;
    margin-left: 8px;
    transition: .2s linear;
}

@media screen and (min-width: 993px) {

    .reg-link:hover {
        text-decoration: underline;
    }

}

@media screen and (max-width: 768px) {



}