.profile-settings {
    display: flex;
    justify-content: right;
}

.ps-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.ps-text {
    font-size: 20px;
    font-weight: 800;
    color: #9381FF;
    opacity: 0;
    margin-right: 8px;
    transform: translateX(50%);
    transition: .3s linear;
}

.settings-svg,
.settings-svg path {
    transition: .3s linear;
    z-index: 10;
}

.profile-header {
    display: flex;
    width: 800px;
    padding: 40px;
    margin: 0 auto;
}

.ph-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
}

.ph-left-avatar {
    display: flex;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 16px;
}

.ph-left-avatar-img {
    width: 100%;
}

.ph-left-nickname {
    color: #000505;
    font-size: 24px;
    font-weight: 600;
}

.ph-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
}

.ph-right-stats {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.profile-articles {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 auto;
}

@media screen and (min-width: 993px) {

    .ps-link:hover .ps-text {
        opacity: 1;
        transform: translateX(0);
    }

    .ps-link:hover .settings-svg {
        transform: rotate(180deg);
    }

    .ps-link:hover path{
        fill: #9381FF;
    }

}