.update-pswd-form {
    margin: 0 auto;
    width: 400px;
}

.update-pswd-input {
    outline: none;
    width: 100%;
    font-size: 18px;
    border: 2px solid #9381FF;
    border-radius: 12px;
    padding: 8px 12px;
    margin-bottom: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}